.recipe-card{
    min-width: 20%;
    max-width: 20%;
    margin: 10px;
}
.recipe-card-container{
    overflow-x: scroll;
}
.card-img{
    margin-bottom:10px;
}

.recipe-form-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom: 20px;
}
.recipe-form-inputs{
    width: 70%;
}

.recipe-form-img-upload{
    width: 25%
}

.recipe-form-title{
    width:100%
}
.recipe-form-img-box{
    width:300px;
    height:220px;
    text-align:center;
    margin:0 auto;
}
.recipe-form-image-buttons{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:75%;
    margin:0 auto;
}

progress.progress{
    width:75%;
    margin: 0 auto;
}
.day-card{
    width:30%;
    min-height: 30%;
    margin: 10px;
    
}
.day-card-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width:80%;
    margin:0 auto;
}
.title.meal{
    margin-bottom:10px;
}