.recipe-card{
    min-width: 22%;
    max-width: 22%;
    margin: 10px;
}
.recipe-card-container{
    overflow-x: scroll;
}
.card-img{
    margin-bottom:10px;
}
.recipe-card-buttons{
    display:flex;
    justify-content:center;
    align-items: center;
}

.recipe-form-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom: 20px;
}
.recipe-form-inputs{
    width: 70%;
}

.recipe-form-img-upload{
    width: 25%
}

.recipe-form-title{
    width:100%
}
.recipe-form-img-box{
    width:300px;
    height:220px;
    text-align:center;
    margin:0 auto;
}
.recipe-form-image-buttons{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:75%;
    margin:0 auto;
}

progress.progress{
    width:75%;
    margin: 0 auto;
}
.day-card{
    width:30%;
    min-height: 20%;
    margin: 10px;
    padding:10px;
    
}
.day-card-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width:80%;
    margin:0 auto;
}
.title.meal{
    margin-bottom:10px;
}
.meal-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: nowrap;
    
}
svg{
    cursor: pointer;
    &:hover{
        & path{
            fill: red;
        }
    }
}
.icon {
    margin:5px;
}
.DayPickerInput {
    width:25%;
    display: block;
    padding: 20px;
    margin: 0;
}
.DayPickerInput input{
    width:100%;
    font-size: 1rem;
    height: 2.25em;
}
.day-picker-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.delete-icon-planned-meal{
    margin-left:5px;
}
.day-card-add-meal-btn{
    margin: 0 auto;
}

.day-card-button-container{
    width:100%;
    min-height: 10%;
    display: flex;
    flex-direction:row;
}

.search-results-cards{
    overflow-x: scroll;
    padding: 1rem;
    display:flex;
}

.search-container{
    width: 80%;
    margin:0 auto;
    text-align:center;
}

.control{
    text-align:center;
}

.search-form input{
    width:60%;
    margin:0 auto;
}

.search-form{
    padding:1.5rem;
}

.buttons{
    justify-content:center;
}

.login-container{
    width:60%;
    margin: 20px auto;
    display:flex;
    justify-content: center;
    align-items:center;
}

.login-form-fields{
    width: 60%;
}

.footer{
    padding: .5rem;
    background-color: skyblue;
}
.footer-icon{
    margin-left: 20px;
    margin-right: 20px;
}
.subtitle:not(:last-child){
    margin-bottom: .5rem;

}
.card-content{
    padding:.5rem;
}
.modal-content {
    min-width: 50%;
}
.modal-content section{
    min-width: 50%;
}